$primary-color: #E6B02F; 
$secondary-color: #052C53;  /* Asegúrate de que esta variable esté correctamente definida */


#centrar {
  text-align: center;
  margin-top: 2rem;
  margin-left: 50%;
  transform: translateX(-50%);
}

ion-toolbar {
  --background: #052C53;  /* Ya tienes este valor para el fondo */
  --color: white;
}
.estudiantes {
  text-align: center;
}
#contenido1 {
  width: 80%;
  margin-top: 50px ;
  align-items: center;
}
.botones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 20rem;
  padding: 0 1rem;
}

ion-label, ion-fab-button {
  color: #E6B02F; 
  margin: 0 1rem;
}

ion-fab-button {
  --background: white; 
  --color: #E6B02F; 
}

.custom-tab-bar {
  --background: #052C53 ; 
  --color: white;
}

ion-card {
  margin: auto;
  width: 100%;
  max-width: 400px;
  height: 100%;
  border-radius: 20px;
  background-color: $secondary-color;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
}