<ion-header [translucent]="true">
  <ion-toolbar class="contenedor-profesores">
    <ion-title class="profesores">Estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Principal</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenido principal -->
  <ion-card-content> 
    <h1>Bienvenido, {{ usuario }} !</h1>

    <ion-card id="contenido1">
      <ion-card-header>
        <h2>Registra asistencia a tus clases desde el botón de abajo!</h2>
      </ion-card-header>

      <ion-card-content>
        <!-- Imagen dentro de un div centrado -->
        <div class="image-container">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtxT8xVzNSD09VmlzI04lP84gh7KIYZ-1kC7OQHcAqcXcAHyLLR3cTytrtepTrhIIcALY&usqp=CAU" alt="Imagen de QR" class="imgca" />
        </div>
      </ion-card-content>
    </ion-card>
  </ion-card-content>
</ion-content>

<!-- Barra de navegación con botones -->
<div class="navbar">
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button (click)="scan()" tab="schedule">
      <ion-icon name="scan"></ion-icon>
      <ion-label>Registrar Asistencia</ion-label>
    </ion-tab-button>
   
    <ion-tab-button class="cerrar" [routerLink]="['/']" tab="about">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
      <ion-label>Cerrar Sesion</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</div>
