<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>recuperar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">recuperar</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-item>
    <ion-label color="primary" [routerLink]="['/']">Volver</ion-label>
  </ion-item>

  <ion-button id="btn-iniciar" expand="block" color="warning">
    RECUPERAR CONTRASEÑA
  </ion-button> 


</ion-content>
