<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>crear-clases</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">crear-clases</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="formulario-w">
    <form #cursoForm="ngForm" (ngSubmit)="onSubmit(cursoForm)" class="form-container">
            <ion-list lines="none">
              <ion-item class="colorlista">
                <ion-icon slot="start" name="school-outline"></ion-icon>
                <ion-label position="floating">Nombre De Clase</ion-label>
                <ion-input [(ngModel)]="curso.nombre" name="nombre" required></ion-input>
              </ion-item>
              <ion-item> 
                <ion-icon slot="start" name="library-outline"></ion-icon>
                <ion-label position="floating">Seccion</ion-label>
                <ion-input [(ngModel)]="curso.sigla" name="sigla" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-icon slot="start" name="business-outline"></ion-icon>
                <ion-label position="floating">Institución</ion-label>
                <ion-input [(ngModel)]="curso.institucion" name="institucion" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-icon slot="start" name="pencil-outline"></ion-icon>
                <ion-label position="floating">Asignatura</ion-label>
                <ion-textarea [(ngModel)]="curso.descripcion" name="descripcion" required></ion-textarea>
              </ion-item>
            </ion-list>
            <ion-button expand="block" type="submit" [disabled]="!cursoForm.form.valid" class="submit-button">
              Guardar
            </ion-button>
    </form>
  </div>
</ion-content>

<div class="navbar">
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button [routerLink]="['/principal']" tab="schedule">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/clases']" tab="schedule">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Clases</ion-label>
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/crear-clases']" tab="schedule">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Crear Clase</ion-label>
    </ion-tab-button>
    <ion-tab-button class="cerrar" [routerLink]="['/']" tab="about">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
      <ion-label>Cerrar Sesion</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</div>