.custom-tab-bar {
    --background: #052C53 ; 
    --color: white;
  }

  $primary-color: #052C53; 
$secondary-color: #E6B02F;

#centrar {
  text-align: center;
  margin-top: 4rem;
  margin-left: 50%;
  transform: translateX(-50%);
}

.boton-clases {
  --background: #{$primary-color};
  --color: white; 
  border-radius: 15px;
  font-size: 20px;
  max-width: 200px;
  margin-left: 15px;
  color: white; 
  display: flex;
  justify-content: center; 
  margin-top: 2rem;
  margin-bottom: .5rem;
  margin-left: 50%;
  transform: translateX(-50%);
}

.lista-clases{
  margin-top: .5rem;
  margin-left: 50%;
  transform: translateX(-50%);
}

.qr-clases {
  margin-top: .5rem;
  display: flex;
  justify-content: center;
  margin-bottom: .5rem;
}

.boton-deseleccionar {
  --background: #{$primary-color};
  color: rgb(12, 2, 2);
  margin-left: 50%;
  transform: translateX(-50%);
}

ion-content {
  --background: white !important;
}

ion-toolbar {
  --background: #052C53;
  --color: white;
}
h4.texto-bienvenida {
  background-color: white;
  color: black;
  text-align: center;
  padding: 1rem;
}


ion-label, ion-fab-button {
  margin: 0 1rem;
  border-radius: 0.5rem; /* Opcional: para redondear los bordes */
}

.lista-de-clases {
  --background: white;
  background-color: white;
}

.boton-clase {
  --background: #{$primary-color};
  --color: white;
  border-radius: 15px;
  font-size: 20px;
  max-width: 200px;
  margin-left: 15px;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: .5rem;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: left;
}

ion-label, ion-fab-button {
  color: #E6B02F; 
  margin: 0 1rem;
}

ion-fab-button {
  --background: white; 
  --color: #E6B02F; 
}

ion-card {
  margin: auto;
  width: 100%;
  max-width: 400px;
  height: 100%;
  border-radius: 20px;
  background-color: $secondary-color;
  box-shadow: 0 4px 20px rgba(0, 0, 0 ); 
}

h4.texto-bienvenida {
  background-color: white;
  color: black;
  text-align: center;
  padding: 1rem;
}

ion-button.submit-button {
    margin-top: 1rem;
    margin-left: 50%;
    transform: translateX(-50%);
    --background: #E6B02F; 
    --color: black; 
  }
  
  ion-list {
    border-radius: 0.5rem;
    background-color: $primary-color;
  }
  
  ion-list ion-item {
    --background: $primary-color;
    --color: $secondary-color;
    border-radius: 0.5rem;
  }
  
  ion-list ion-item ion-label,
  ion-list ion-item ion-input,
  ion-list ion-item ion-textarea,
  ion-list ion-item ion-icon {
    color: $secondary-color;
  }
  
  .formulario-w {
    border-radius: 4rem;
    padding: 1rem; 
    background-color: white; 
    margin-top: 2rem; 
  }

  ion-content.ion-no-padding {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
  }