<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Principal</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-item>
    <ion-label color="primary" [routerLink]="['/']">Cerrar Sesión</ion-label>
  </ion-item>

  <h4 id="centrar">Bienvenido {{ nombre }}</h4>
  <ion-item>
    <div>
      <qrcode [qrdata]="'Your data string'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    </div>
  </ion-item>
</ion-content>
