<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      LOGIN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">LOGIN</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item>
        <ion-input label="Email" type="email" labelPlacement="floating"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Password" type="password" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-button id="btn-iniciar" expand="block" color="warning" (click)="goToLink('/')">
        INGRESAR
      </ion-button> 
      <ion-label color="secondary" (click)="goToRecuperar()" id="recuperarPass">Recuperar contraseña</ion-label>
    </ion-list>

  </div>
</ion-content>
