$primary-color: #7400e9; // color match 




  #app-container {
    background-color: #ffffff; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .content-box {
    background-color: #7400e9; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    width: 90%;
    max-width: 400px;
  }
  
  .app-logo img {
    width: 120px;
    height: auto;
    margin-bottom: 20px;
  }

  ion-item {
    color: $primary-color;
    --background: #ffffff; 
  }

  .login-form {
    background: #ffffff; 
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
  }

  #btn-iniciar {
    margin-top: 20px;
    --background: white;
    color: $primary-color; 
  }

  .action-links ion-button {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
