<ion-header [translucent]="true">
  <ion-toolbar style="--background: #7400e9; --color: white;">
    <ion-title>Match</ion-title>
    <ion-buttons slot="end">
      <ion-button>About</ion-button>
      <ion-button>Help</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div id="app-container">
    <div class="content-box">
      <ion-list lines="none" class="login-form">
        <ion-item>
          <!-- Usuario -->
          <ion-input
            [(ngModel)]="usuario"
            label="Usuario"
            type="text"
            labelPlacement="floating"
            id="username"
          ></ion-input>
        </ion-item>
        <!-- Contrasena -->
        <ion-item>
          <ion-input
            [(ngModel)]="password"
            label="Password"
            type="password"
            labelPlacement="floating"
            id="password"
          ></ion-input>
        </ion-item>
        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
      </ion-list>
      <ion-button
        id="btn-iniciar"
        expand="block"
        shape="round"
        (click)="login()"
      >
        INGRESAR
      </ion-button>
      <div class="action-links">
        <ion-button
          fill="clear"
          (click)="goToRecuperar()"
          id="recuperarPass"
        >
          Recuperar contraseña
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>