<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>clases-profesor</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="custom-content">
  <div class="header-container">
    <h3>Explora tus Clases</h3>
  </div>

  <ion-list class="lista-clase" lines="none" *ngIf="cursos && cursos.length > 0; else noCourses">
    <ion-item *ngFor="let curso of cursos" class="item-clase">
      <ion-thumbnail slot="start" class="course-thumbnail">
        <img [src]="curso.imagen" alt="Imagen del curso {{ curso.nombre }}">
      </ion-thumbnail>
      <ion-label class="lbl-clase">
        <h2 class="nombre-clase">{{ curso.nombre }}</h2>
        <p class="descripcion-clase">{{ curso.descripcion }}</p>
      </ion-label>
      <ion-button class="btn-detalle" (click)="verDetalleCurso(curso.id)" expand="block" shape="round">
        Ver detalles
      </ion-button>
    </ion-item>
  </ion-list>
  
  <ng-template #noCourses>
    <ion-item class="no-courses-item">
      <ion-label class="no-courses-label">No hay cursos disponibles en este momento. ¡Vuelve pronto!</ion-label>
    </ion-item>
  </ng-template>

  <div class="navbar">
    <ion-tab-bar slot="bottom" class="custom-tab-bar">
      <ion-tab-button [routerLink]="['/principal']" tab="schedule">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/clases-profesor']" tab="schedule">
        <ion-icon name="book-outline"></ion-icon>
        <ion-label>Clases</ion-label>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/crear-clases']" tab="schedule">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>Crear Clase</ion-label>
      </ion-tab-button>
      <ion-tab-button class="cerrar" [routerLink]="['/']" tab="about">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
        <ion-label>Cerrar Sesion</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </div>