#container {
    text-align: center;
    margin: 2rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    // transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  #btn-register {
    margin-top: 1rem;
    width: 9rem;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1rem;
  }
  
  #recuperarPass{
    cursor: pointer;
    transition: color 0.3s;
  }
  
  #recuperarPass:hover{
    border-bottom: 1px solid;
  }