<ion-header [translucent]="true">
  <ion-toolbar style="--background: #7400e9; --color: white;">
    <ion-title>Match</ion-title>
    <ion-buttons slot="end">
      <ion-button>About</ion-button>
      <ion-button>Help</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" >

  <div class="app-container">



    <div class="form-section">
      <ion-list lines="none">
        <ion-item>
          <ion-input
            [(ngModel)]="username"
            label="Usuario"
            labelPlacement="floating"
            type="text"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            [(ngModel)]="password"
            label="Password"
            labelPlacement="floating"
            type="password"
            required
          ></ion-input>
        </ion-item>


        <div class="button-group">
          <ion-button
            (click)="selectUserType('Estudiante')"
            expand="block"
            shape="round"
            [color]="selectedUserType === 'Estudiante' ? 'secondary' : 'primary'"
          >
            Estudiante
          </ion-button>
          <ion-button
            (click)="selectUserType('Profesor')"
            expand="block"
            shape="round"
            [color]="selectedUserType === 'Profesor' ? 'secondary' : 'primary'"
          >
            Profesor
          </ion-button>
        </div>

        <ion-button
          id="btn-register"
          expand="block"
          shape="round"
          color="warning"
          [disabled]="!username || !password"
          (click)="register()"
        >
          Registrarse
        </ion-button>
      </ion-list>


      <ion-item class="back-link" lines="none">
        <ion-label
          color="primary"
          [routerLink]="['/']"
        >
          Volver
        </ion-label>
      </ion-item>
    </div>
  </div>
</ion-content>
