$primary-color: #7400e9;
#app-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.content-box {
  background-color: #7400e9; 
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}


ion-item {
  color: $primary-color;
  --background: #ffffff; 
}
.login-form {
  background: #ffffff; 
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
}


.button-group {
  color: #7400e9;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}


ion-button {
  flex: 1; 
  font-size: 14px; 
  padding: 10px 0; 
  border-radius: 20px; 
}


#btn-register {
  margin-top: 20px; 
  font-size: 16px; 
  border-radius: 20px; 
  
}


.back-link {
  color: $primary-color;
  --border-radius: 20px; 
  --padding-start: 16px; 
  cursor: pointer; 
  text-align: center; 
}


.centered-link {
  color: $primary-color;
  font-size: 16px; 
  font-weight: 500; 
}

