<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Register
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Register</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div id="container">
      <ion-list>
        <ion-item>
          <ion-input [(ngModel)]="username" placeholder="Usuario" type="text" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="password" placeholder="Password" type="password" required></ion-input>
        </ion-item>
  
        <ion-button id="btn-register" expand="block" color="warning" [disabled]="!username || !password" (click)="register()">Registrarse</ion-button>
      </ion-list>
      <ion-item>
        <ion-label color="primary" [routerLink]="['/']">Volver</ion-label>
      </ion-item>
    </div>
  </ion-content>
  
</ion-content>