<ion-header [translucent]="true">
  <ion-toolbar style="--background: #7400e9; --color: white;">
    <ion-title>Match</ion-title>
    <ion-buttons slot="end">
      <ion-button>About</ion-button>
      <ion-button>Help</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="app-container">
    <div class="content-box">
      <ion-list lines="none" class="login-form">
        <ion-item>
          <ion-input
            [(ngModel)]="username"
            type="text"
            labelPlacement="floating"
            label="Usuario"

          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            [(ngModel)]="password"
            type="password"
            labelPlacement="floating"
            label="Contraseña"

          ></ion-input>
        </ion-item>
      </ion-list>
        <div class="button-group">
          <ion-button
            (click)="selectUserType('Estudiante')"
            expand="block"
            shape="round"
            [color]="selectedUserType === 'Estudiante' ? 'secondary' : 'primary'"
          >
            Estudiante
          </ion-button>
          <ion-button
            (click)="selectUserType('Profesor')"
            expand="block"
            shape="round"
            [color]="selectedUserType === 'Profesor' ? 'secondary' : 'primary'"
          >
            Profesor
          </ion-button>
        </div>
        <ion-button
          id="btn-register"
          expand="block"
          shape="round"
          color="warning"
          [disabled]="!username || !password"
          (click)="register()"
        >
          Registrarse
        </ion-button>
        <ion-item lines="none" class="back-link">
          <ion-label
            class="centered-link"
            [routerLink]="['/']"
          >
            Volver
          </ion-label>
        </ion-item>
    </div>
  </div>
</ion-content>
