$primary-color: #7400e9;

.app-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

.form-section {
  background-color: $primary-color;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  width: 90%;
  max-width: 400px;
}



ion-input {
  --placeholder-color: $primary-color;
  color: $primary-color;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

ion-button {
  flex: 1;
  margin: 0 5px;
  border-radius: 20px;
}

#btn-register {
  margin-top: 10px;
  --background: white;
  color: $primary-color;
  font-weight: bold;
}

.back-link {
  margin-top: 20px;
  text-align: center;
}

.back-link ion-label {
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
}